*{
  margin:10;
  padding:10;
  text-align:center;
}
h1 {
    color: #E71989;
    font-family: Arial;
    font-style: bold;
    font-size: 100px;
    margin:auto;
}
#Add {
    background-color:#66ccff;
    color: black;
    font-family: Comic;
    font-size: 45px;
    position : fixed;
    width: 100px;
    height: 106px;
    left: 804px;
    top: 150px;
    border-color: #66ccff;
}
#Add a:hover {
    background-color: #3c403c;

}
.button{
	background-color:#99ff99;
    font-size: 45px;
    position: fixed;
    width:

}
#input {
    color:black;
    font-style: Arial;
    font-size: 40px;
    position: fixed;
    width: 500px;
    height: 100px;
    position : fixed;
    left: 300px;
    top: 150px;
    border-color:#66ccff;
}
body{
    background-color: #FFE042;

}
p {
    font-family: Comic Sans;
    font-size: 22px;
    color: black;

}
#workspace{
    position:fixed;
    width: 1000px;

}
.remove{
	font-family: Comic Sans;
    background-color: red;
    font-color: yellow;
}

.checkboxes {
	float: right;
	line-height: 15px;
	width: 17px;
	height: 17px;
	background-color: #e9ecef;
	border: 1px solid #e9ecef;
	border-radius: 3px;
}
ul {
	border-top: 2px solid white;
	margin-top: 2rem;
	list-style: none;
}
li {
	border-bottom: 1px solid white;
	padding: 0.5rem 0 0.5rem 0;
	margin: 0 1rem 0 1rem;
}
